<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <ul>
            {% for i in states.values()|sort(attribute="name") %}
	            <LI>{{ i.id }}: <b>{{ i.name }}</b></LI>
                    <ul>
        	            {% for city in i.cities|sort(attribute="name") %}
            	        <LI>{{ city.id }}: <b>{{ city.name }}</b></LI>
			            {% endfor %}
                    </ul>
                </LI>
         {% endfor %}
        </UL>
    </BODY>
</HTML>
